NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Página pública de Agendamento de Horários do Google Agenda
# Aceita somente uma URL oficial https://calendar.google.com/... ou https://calendar.app.google/...
NEXT_PUBLIC_GOOGLE_BOOKING_URL=

# Google Analytics
NEXT_PUBLIC_GA_ID=
